.register-wrap {
  width: 100%;
  max-width: 800px;
  background-color: var(--color-white);
  box-shadow: 0px 4px 8px 2px rgba(207, 214, 212, 0.25);
  display: flex;
  flex-direction: column;
  margin: 32px auto;
}

.register__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 32px 32px 24px 32px;
  border-bottom: 1px solid var(--color-primary-light);
  color: var(--color-primary-dark);
}

.form {
  flex: 1;
  padding: 24px 32px;
}

.form input:read-only {
  cursor: default;
}

.checkbox-wrap {
  margin-top: 16px;
}

.checkbox-block {
  display: flex;
  align-items: center;
  margin-top: 8px;
}

.checkbox-block input {
  width: 2rem;
  height: 2rem;
  border-radius: 0.8rem;
  margin-right: 0.8rem;
}

.checkbox-block label {
  font-size: 18px;
}

.form button.submit {
  margin-top: 16px;
  width: 100%;
  height: 56px;
  background-color: var(--color-primary-dark);
  color: var(--color-white);
  font-weight: 500;
  font-size: 18px;
  line-height: 19px;
  border-radius: 20px;
  cursor: pointer;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 24px;
}

.message {
  color: var(--color-text);
}

.go-back {
  color: var(--color-primary-darker);
  font-size: 20px;
  text-align: center;
  margin-top: 16px;
}

@media (max-width: 740px) {
  .register-wrap {
    margin: 0 auto;
  }
}
