:root {
  --color-white: #fafafa;
  --color-background: #f1f2f3;
  --color-primary-lighter: #eaeaea;
  --color-primary-light: #c0e5c8;
  --color-primary: #56aab6;
  --color-primary-dark: #2793a1;
  --color-primary-darker: #237f8b;
  --color-secondary: #faaeae;
  --color-secondary-dark: #af3434;
  --color-title: #000000;
  --color-text: #555454;
  --color-input-background: #f5f5f5;
  --color-input-border: #dfdfdf;
  --color-button-text: #ffffff;

  --max-width: 1200px;
  --padding: 24px;
  --padding-sm: 16px;
  font-size: 60%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

body {
  background: var(--color-background);
}

body,
button,
input,
textarea {
  font: 500 1.6rem Roboto;
  -webkit-font-smoothing: antialiased;
  border: 0;
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  max-width: var(--max-width);
  margin: 32px auto;
  padding: 0 var(--padding);
}

@media (max-width: 400px) {
  .container {
    margin: 24px auto;
    padding: 0 var(--padding-sm);
  }
}
